# IDE files
.eclipse/
.idea/
.vs/
.vscode/

# directories
node_modules/*
data/**/*
logs/*
test/

# config files
*.env*
*.toml

# database files
*.db
*.sqlite

# log files
.log

# bot lib folders - do not ignore specific important files
!lib/assets/**/schemas/*.json
!lib/assets/**/templates/default_config.toml
!lib/assets/**/templates/default_env.env