# directories
node_modules/*
data/**/*
logs/*
.eclipse/
.idea/

# config files
*.env
*.toml

# database files
*.db
*.sqlite

# log files
.log
lib/utils/models/_TEMPLATE.model.js

# allowed paths (exempted)
!lib/assets/**